@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CeraPro;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/CeraPro/CeraPro-Regular.woff2) format("woff2");
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url(/fonts/CeraPro/CeraPro-Medium.woff2) format("woff2");
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/CeraPro/CeraPro-Bold.woff2) format("woff2");
}

@supports (scrollbar-width: thin) {
  body {
    scrollbar-color: #4fa2b7 #060d27;
    scrollbar-width: thin;
  }
}

@supports selector(::-webkit-scrollbar) {
  body::-webkit-scrollbar-thumb {
    background: #4fa2b7;
  }
  body::-webkit-scrollbar-track-piece {
    background: #060d27;
  }
  body::-webkit-scrollbar {
    max-width: 10px;
    max-height: 10px;
  }
}

* {
  box-sizing: border-box;
  color: #fffffa;
  scroll-behavior: smooth;
}

body {
  font-family: CeraPro, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #131313;
  overflow-x: hidden;
}
