@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CeraPro;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/CeraPro/CeraPro-Regular.woff2) format("woff2");
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url(/fonts/CeraPro/CeraPro-Medium.woff2) format("woff2");
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/CeraPro/CeraPro-Bold.woff2) format("woff2");
}

* {
  box-sizing: border-box;
  color: #fffffa;
}

body {
  font-family: CeraPro, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #131313;
}
