<footer id="footer" class="my-1 px-10 w-11/12 z-20">
  <div class="flex max-sm:flex-col-reverse justify-between">
    <div>
      <h2 class="text-2xl font-bold text-whi">Connect with us</h2>
      <p class="text-sm mb-3">
        <br />69/420, Dubai Shawarma Stall,<br />Dubai Bus Stand,<br />Dubai.
      </p>
      <a
        class="text-sm font-medium hover:bg-gradient-to-r from-[#33a8d4] to-[#efd64f] hover:text-transparent hover:bg-clip-text"
        href="mailto:hello@blooog.com">hello@blooog.com</a
      >
    </div>
    <div class="font-poppins text-4xl flex items-center max-sm:py-10">
      blooog.
    </div>
  </div>
  <div
    class="flex flex-col-reverse md:flex-row justify-between items-center gap-5 py-10"
  >
    <p>© 2024 Blooog. All Rights Reserved.</p>
    <div class="flex flex-row justify-center items-center gap-5">
      <a
        class="border-s-slate-300 group hover:bg-whi transition-all flex border-[0.5px] w-12 h-12 rounded-full"
        href="https://x.com/HBM2E"
        target="_blank"
        title="X Link"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-x m-auto group-hover:stroke-[#131313]"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path
            d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
        >
      </a>
      <a
        class="border-s-slate-300 group hover:bg-whi transition-all flex border-[0.5px] w-12 h-12 rounded-full"
        href="https://www.linkedin.com/in/vduraisamy/"
        target="_blank"
        title="LinkedIn Link"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-linkedin m-auto group-hover:stroke-[#131313]"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
            d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"
          ></path></svg
        >
      </a>
      <a
        class="border-s-slate-300 group hover:bg-whi transition-all flex border-[0.5px] w-12 h-12 rounded-full"
        href="https://www.instagram.com/officialrickastley"
        target="_blank"
        title="Instagram Link"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-instagram m-auto group-hover:stroke-[#131313]"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
          ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
          ></path><path d="M16.5 7.5l0 .01"></path></svg
        >
      </a>
      <a
        class="border-s-slate-300 group hover:bg-whi transition-all flex border-[0.5px] w-12 h-12 rounded-full"
        href="https://net-runner.dev"
        target="_blank"
        title="Portfolio Link"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-world m-auto group-hover:stroke-[#131313]"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path><path
            d="M3.6 9h16.8"></path><path d="M3.6 15h16.8"></path><path
            d="M11.5 3a17 17 0 0 0 0 18"></path><path
            d="M12.5 3a17 17 0 0 1 0 18"></path></svg
        >
      </a>
    </div>
  </div>
</footer>
<style>
  .footer {
    background-image: linear-gradient(0deg, #000000b3, transparent);
  }
</style>
