<section id="home" class="relative landing w-full flex justify-center">
  <div
    class="absolute bg-[url('/images/noise.webp')] content-[''] opacity-20 mix-blend-overlay pointer-events-none h-full w-full"
  >
  </div>
  <div
    class="flex relative items-center justify-center flex-col w-11/12 h-vh h-svh gap-y-14"
  >
    <div
      class="decor fixed h-full w-3/4 flex flex-col items-end justify-center gap-y-4"
    >
      {
          [1, 2, 3, 4].map((id: number) => (
            <>
              <div
                id={`decor-line-${id}`}
                class="nav-decor-lines decor-lines bg-[#f0f0f0cc]"
              />
              <div class="decor-lines h-0.5 w-1 bg-[#f0f0f0cc]" />
              <div class="decor-lines h-0.5 w-1 bg-[#f0f0f0cc]" />
              <div class="decor-lines h-0.5 w-1 bg-[#f0f0f0cc]" />
            </>
          ))
      }
    </div>
    <div class="flex max-sm:flex-col max-lg:gap-x-10 lg:gap-x-16 mt-10">
      <div
        class="font-cera max-md:text-6xl max-lg:text-7xl lg:text-9xl max-sm:text-left text-right max-sm:mb-4"
      >
        <h1>IDEATE</h1>
        <h1>INNOVATE</h1>
        <h1>INSPIRE</h1>
      </div>
      <div
        class="font-cera max-sm:text-base max-md:text-lg max-lg:text-xl lg:text-2xl font-medium max-sm:self-start self-end mb-4"
      >
        <h1>YES, ITS A BLOG</h1>
        <h1>I TRIED TO MAKE THIS</h1>
        <h1>WITHOUT LOSING MY</h1>
        <h1
          class="bg-gradient-to-r from-[#33a8d4] to-[#efd64f] inline-block text-transparent bg-clip-text"
        >
          SANITY
        </h1>
      </div>
    </div>
    <div class="relative w-full h-1/6 flex justify-center">
      <a
        class="flex absolute -left-10 -rotate-90 gap-x-2 max-sm:hidden"
        href="#about"
      >
        <img
          src="images/arrow.svg"
          alt="Navigation Arrow"
          height="25"
          width="25"
        />
        <span>Enter the blogverse</span>
      </a>
      <div class="tetris lg:w-5/6 sm:w-2/3 max-sm:w-2/3 h-full"></div>
    </div>
  </div>
</section>
<style>
  .decor {
    border-left: 1px solid #ffffff22;
    border-right: 1px solid #ffffff22;
    right: 4.1666665%;
  }
  .nav-decor-lines {
    width: 0.75rem;
    height: 0.125rem;
    transition: all 0.3s ease-in-out;
  }
  .active-decor-line {
    width: 2.5rem;
    height: 0.25rem;
  }
  .landing {
    background-image: url("/images/landing-bg.svg");
    background-size: cover;
    --cool-gradient: linear-gradient(
      87deg,
      #7c1f1a,
      #e9792f 25%,
      #fde14d,
      #33a8d4,
      #2442ab
    );
  }
  .tetris {
    background-image: var(--cool-gradient);
    clip-path: polygon(
      35.21% 0,
      35.21% 48.52%,
      29.2% 48.52%,
      29.2% 0,
      41.58% 0,
      41.58% 48.52%,
      35.57% 48.52%,
      35.57% 0,
      51.68% 0,
      51.68% 48.52%,
      45.68% 48.52%,
      45.68% 0,
      58.05% 0,
      58.05% 48.52%,
      52.04% 48.52%,
      52.04% 0,
      64.42% 0,
      64.42% 48.52%,
      58.41% 48.52%,
      58.41% 0,
      70.79% 0,
      70.79% 48.52%,
      64.78% 48.52%,
      64.78% 0,
      80.89% 0,
      80.89% 48.52%,
      74.89% 48.52%,
      74.89% 0,
      87.26% 0,
      87.26% 48.52%,
      81.25% 48.52%,
      81.25% 0,
      93.63% 0,
      93.63% 48.52%,
      87.62% 48.52%,
      87.62% 0,
      100% 0,
      100% 48.52%,
      93.99% 48.52%,
      93.99% 0,
      6% 0,
      100% 0,
      0 51.47%,
      0 51.47%,
      6% 51.47%,
      6% 100%,
      0 100%,
      0 51.47%,
      12.37% 51.47%,
      12.37% 100%,
      6.36% 100%,
      6.36% 51.47%,
      22.47% 51.47%,
      22.47% 100%,
      16.47% 100%,
      16.47% 51.47%,
      22.84% 51.47%,
      22.84% 100%,
      28.84% 100%,
      28.84% 51.47%,
      51.68% 51.47%,
      51.68% 100%,
      45.68% 100%,
      45.68% 51.47%,
      52.04% 51.47%,
      52.04% 100%,
      58.05% 100%,
      58.05% 51.47%,
      80.89% 51.47%,
      80.89% 100%,
      74.89% 100%,
      74.89% 51.47%,
      81.25% 51.47%,
      81.25% 100%,
      87.26% 100%,
      87.26% 51.47%,
      93.63% 51.47%,
      93.63% 100%,
      87.62% 100%,
      87.62% 51.47%,
      93.99% 51.47%,
      93.99% 100%,
      100% 100%,
      100% 51.47%,
      100% 51.47%,
      90% 51.47%,
      0 51.47%,
      100% 0
    );
  }

  @media screen and (min-width: 450px) {
    .decor-lines {
    will-change: height, width;
    }    
  }

  @media screen and (max-width: 450px) {
    .decor-lines {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .tetris {
      clip-path: polygon(
        77.48% 0px,
        77.48% 20.36%,
        88.39% 20.36%,
        88.39% 0px,
        89.08% 0px,
        89.08% 20.36%,
        100% 20.36%,
        100% 0px,
        0px 0px,
        0px 0px,
        77.48% 0px,
        76.79% 21.64%,
        23.2% 21.64%,
        23.2% 42.01%,
        34.11% 42.01%,
        34.11% 21.64%,
        34.8% 21.64%,
        34.8% 42.01%,
        45.71% 42.01%,
        45.71% 21.64%,
        54.28% 21.64%,
        54.28% 42.01%,
        65.19% 42.01%,
        65.19% 21.64%,
        65.88% 21.64%,
        65.88% 42.01%,
        76.79% 42.01%,
        76.79% 21.64%,
        77.48% 0px,
        0px 0px,
        77.48% 0px,
        100% 57.98%,
        0px 57.98%,
        0px 78.35%,
        10.91% 78.35%,
        10.91% 57.98%,
        11.6% 57.98%,
        11.6% 78.35%,
        22.51% 78.35%,
        22.51% 57.98%,
        23.2% 57.98%,
        23.2% 78.35%,
        34.11% 78.35%,
        34.11% 57.98%,
        34.8% 57.98%,
        34.8% 78.35%,
        45.71% 78.35%,
        45.71% 57.98%,
        54.28% 57.98%,
        54.28% 78.35%,
        65.19% 78.35%,
        65.19% 57.98%,
        65.88% 57.98%,
        65.88% 78.35%,
        76.79% 78.35%,
        76.79% 57.98%,
        77.48% 57.98%,
        77.48% 78.35%,
        88.39% 78.35%,
        88.39% 57.98%,
        89.08% 57.98%,
        89.08% 78.35%,
        100% 78.35%,
        100% 57.98%,
        77.48% 0px,
        0px 0px,
        77.48% 0px,
        100% 79.63%,
        0px 79.63%,
        0px 100%,
        10.91% 100%,
        10.91% 79.63%,
        11.6% 79.63%,
        11.6% 100%,
        22.51% 100%,
        22.51% 79.63%,
        54.28% 79.63%,
        54.28% 100%,
        65.19% 100%,
        65.19% 79.63%,
        65.88% 79.63%,
        65.88% 100%,
        76.79% 100%,
        76.79% 79.63%,
        77.48% 79.63%,
        77.48% 100%,
        88.39% 100%,
        88.39% 79.63%,
        89.08% 79.63%,
        89.08% 100%,
        100% 100%,
        100% 79.63%
      );
    }
  }
</style>

<script>
  if(window.innerWidth >= 450) {
  let activeID = 1;
  const landing = document.getElementById("home");
  const about = document.getElementById("about");
  const posts = document.getElementById("posts");
  const footer = document.getElementById("footer");
  function updateDecorLine(id: number) {
    document
      .getElementById(`decor-line-${activeID}`)
      .classList.remove("active-decor-line");
    document
      .getElementById(`decor-line-${id}`)
      .classList.add("active-decor-line");
    activeID = id;
  }
  function updateDecors(): void {
    if (landing.getBoundingClientRect().top >= 0) updateDecorLine(1);
    else if (about.getBoundingClientRect().top >= 0) updateDecorLine(2);
    else if (posts.getBoundingClientRect().top >= 0) updateDecorLine(3);
    else updateDecorLine(footer.getBoundingClientRect().top >= 0 ? 4 : 1);
  }
  window.addEventListener("scroll", updateDecors);
  updateDecors();
  }
</script>
